@use '../variables' as *;

a{
    text-decoration: none;
    color: $color-secundary;
}

.aDetalleDelProducto{
    color: black;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

header{
    .logo{
        width: 85px;
    }
    .iconoUsurCart{
        width:40px;
    }
}




