@use '../variables' as *;
@use '../mixin';
@use '../extend';

main {
    .seccionCarrito{
        @include mixin.escritorio{
            display: flex;
        }
    }
        .contenedorProducto {
            @include mixin.flex(center, center);
            margin: 10px;
            border: solid 1px $color-borde-imgproduct;
                @include mixin.tablet{
                        justify-content: normal;
                }
                @include mixin.escritorio{
                        width: 50%;
                }

            .contenedorImgProducto{
                width: 35%;
                border-right: solid 1px $color-borde-imgproduct;

                @include mixin.tablet{
                        width: 20%;
                    }
                    @include mixin.escritorio{
                        width: 40%;
                    }
            }

            .contenedorDescripcionProducto{
                width: 70%;
                margin-left: $espacio-14px;
            }
        }

        .contenedorResumen{
            @include mixin.flex(center,center);
            flex-wrap: wrap;
            margin: $espacio-10px;
            border: solid 1px $color-borde-imgproduct;
            padding: $espacio-10px;

            .tituloResumen{
                width: 100%;
            }
            .cantidadProductos{
                width: 70%;
            }
            .totalPagar{
                width: 30%;
            }

            .btn-Comprar{
                @extend.btn-registrarse;
                color: $color-secundary;

                @include mixin.tablet{
                        width: 35%;;
                }
                @include mixin.escritorio{
                        transition: all 0.3s ease 0s;
                        &:hover{
                            cursor: pointer;
                            box-shadow: 0px 15px 20px $color-btn-primary;
                            transform: translateY(-7px);
                        }
                }
            }
        }
}